01_Introduction to CS - CS50 - Harvardx/Lectures
02_Structure and Interpretation of Computer Programs - UC Berkeley/disc
02_Structure and Interpretation of Computer Programs - UC Berkeley/lectures
03_OOP in Java - Penn/OOP & DESIGN-335
03_OOP in Java - Penn/lectures
04_Algorithms I & II - Princeton/potensoglog.xlsx
04_Algorithms I & II - Princeton/lectures-part1
04_Algorithms I & II - Princeton/lectures-part2
05_Elements of Computing Systems I & II - Jerusalem/tools
05_Elements of Computing Systems I & II - Jerusalem/projects_with_problem_defs
08_Introduction to Database Systems - Berkeley/lectures
08_Introduction to Database Systems - Berkeley/notes
09_Full Stack Web Development - Udacity/admin
09_Full Stack Web Development - Udacity/files-from-lectures
10_Agile Software Engineering - UC Berkeley/full-filenames
11_Discrete Mathematics
12_Introduction to AI - Berkeley
13_CodeKata
