1_Introduction to CS - CS50 - Harvardx/Lectures
2_Structure and Interpretation of Computer Programs - UC Berkeley/disc
2_Structure and Interpretation of Computer Programs - UC Berkeley/lectures
3_OOP in Java - Penn/OOP & DESIGN-335
3_OOP in Java - Penn/lectures
4_Algorithms I & II - Princeton/potensoglog.xlsx
4_Algorithms I & II - Princeton/lectures-part1
4_Algorithms I & II - Princeton/lectures-part2
5_Elements of Computing Systems I & II - Jerusalem/tools
5_Elements of Computing Systems I & II - Jerusalem/projects_with_problem_defs
8_Introduction to Database Systems - Berkeley/lectures
8_Introduction to Database Systems - Berkeley/notes
9_Full Stack Web Development - Udacity/admin
9_Full Stack Web Development - Udacity/files-from-lectures
10_Agile Software Engineering - UC Berkeley/full-filenames
11_Discrete Mathematics
12_Introduction to AI - Berkeley
13_CodeKata
