{% extends "main.html" %}
{% block content %}

<h3>Categories</h3>
{% if logged_in == True %}
	<a id="header-link" href="{{url_for('newCategory')}}">New Category</a>
{% endif %}

{% for i in categories %}
<div id="cat-1">
	<a href="{{url_for('allItems', category_name=i.name, category_id=i.id)}}"><p id="cat-2">{{i.name}}</p></a>
	{% if logged_in == True %}
		<a href="{{url_for('editCategory', category_name=i.name, category_id=i.id)}}">Edit</a>
		<a href="{{url_for('deleteCategory', category_name=i.name, category_id=i.id)}}">Delete</a>
	{% endif %}
</div>
{% endfor %}

{% endblock %}
