{% extends "main.html" %}
{% block content %}

<h3>Edit "{{item.name}}"</h3>
<form action="{{url_for('editItem', category_name=category_name, category_id=category_id, item_name=item_name, item_id=item_id)}}" method = 'POST'>
<input type='text' value="{{item.name}}" size='30' name='name'><br><br>
<textarea type='text' name="description" rows="5" cols="30">{{item.description}}</textarea><br><br>
<input type='text' value="{{item.price}}" size='20' name='price'><br><br>
<input type='submit' value='Save'>
</form>
<br>
<a href = "{{ url_for('allItems', category_name=category_name, category_id=category_id)}}">Cancel</a>

{% endblock %}