{% extends "layout.html" %}

{% block title %}
    Overview of trading, buy and sell
{% endblock %}

{% block main %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Activity</th>
          <th scope="col">Stock Name</th>
          <th scope="col">Stock symbol</th>
          <th scope="col">Buy/Sell Price</th>
          <th scope="col">Total value</th>
          <th scope="col">Time</th>
        </tr>
      </thead>
      <tbody>
        {% for stock in stocks %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td><span id="{{ stock.get('activity') }}">{{ stock.get("activity") }}</span></td>
                <td>{{ stock.get("stock") }}</td>
                <td>{{ stock.get("symbol") }}</td>
                <td>{{ stock.get("stockPrice") }}</td>
                <td>{{ stock.get("totalValue") }}</td>
                <td>{{ stock.get("time") }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
