{% extends "layout.html" %}

{% block title %}
    Sell Stock
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <h2>Sell Stock:</h2>
        <div class="form-group">
            <select class="form-control" name="symbol">
                {% for stock in stocks %}
                    <option value="{{ stock.get('symbol') }}">{{ stock.get("stock") }} - {{ stock.get("stockPrice") }} - {{ stock.get("stockNumber") }} - {{ stock.get("totalValue") }} - "{{ stock.get("symbol") }}" </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" min="1" name="shares" class="form-control" placeholder="Number of shares"> <!-- type="number"-->
        </div>
        <button class="btn btn-primary" type="submit">Sell stock</button>
    </form>
{% endblock %}
