#title {
	text-align: center;
}

.cat-picture {
	margin: auto;
	margin-top: 20px;
}

ul {
	list-style-type: none;
}

#little-cat {
	width: 200px;
	margin: 0;
	padding: 0;
}

h3 {
	text-align: center;
}

#cat-button {
	display: block;
	margin: auto;
	margin-top: 20px;
}

#times-clicked {
	text-align: center;
}

#cat-list {
	width: 200px;
	height: 100%;
	background-color: red;
	margin: 0;
	flex-wrap: nowrap;
	padding: 0;
}

#cat-area {
	width: 100%;
	height: 100%;
	background-color: blue;
	margin: 0;
	text-align: center;
	flex-wrap: nowrap;
}

#cat-area img {
	max-width: 600px;
}

.container {
	display: flex;
}