{% extends "layout.html" %}

{% block title %}
    Overview of your stocks
{% endblock %}

{% block main %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Stock Name</th>
          <th scope="col">Current Stock Price</th>
          <th scope="col">Total value</th>
        </tr>
      </thead>
      <tbody>
        {% for stock in stocks %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ stock[0] }}</td>
                <td>{{ stock[1] }}</td>
                <td>{{ stock[2] }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3>Cash balance: {{ cash }}</h3>
    <h3>Total worth: {{ grandTotal }}</h3>
    <form action="/insert" method="post">
        <h3 id="cashForm">Insert cash into account:</h3>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="cash" placeholder="$ Cash" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Insert cash</button>
    </form>
{% endblock %}
